*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap');

body{
    background-color: #ebeeee;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

p span{
    display: block;
}

.container{
    display: block;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
}

.container .card{
    position: relative;
    margin: 100px auto;
    margin-top: 60px;
    width: 432px;
    height: 399px;
    border-radius: 15px;
    background: #fff;

}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

.container .imgpng{
    position: absolute;
    top: 120px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.container .card p{
    position: absolute;
    margin: 180px auto;
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000000;
}

.container .btn-1{
    position: absolute;
    margin: 280px auto;
    justify-items: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px 50px;
    background-color: #ed6755;
    border-bottom: none;
    color: #fff;
    box-shadow: 0px 5px 10px #ed6755;
}

.container .btn-1 a{
    color: #fff;
    font-size: 15px;
}


.container .card-2{
    position: relative;
    margin: 100px auto;
    width: 432px;
    height: 399px;
    border-radius: 15px;
    background: #fff;

}
.container .card-2 p{
    position: absolute;
    margin: 200px auto;
    text-align: center;
    color: #000000;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    font-size: 17px;
}

.container .imgpng2{
    position: absolute;
    top: 120px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.container .btn-2{
    position: absolute;
    margin: 280px auto;
    justify-items: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px 50px;
    background-color: #02083f;
    border-bottom: none;
    color: #fff;
    box-shadow: 0px 3px 10px #2c3e50;
}

.container .btn-2 a{
    color: #fff;
    font-size: 15px;
}